---

---
<section class="flex flex-col pt-10 h-auto">
    <h2 class='text-center'>TRUSTED BY</h2>
    <div class='clients-logos flex items-center justify-around pb-10 p-10'>
        <img src="./public/cocunat.jpg" alt="" class=" fixed-size w-90 h-auto rounded-lg">
        <img src="./public/tremenda.jpg" alt="" class=" fixed-size w-90 rounded-lg">
        <img src="./public/culebras.png" alt="" class=" fixed-size w-90 rounded-lg">
        <img src="./public/cocohomes.jpg" alt="" class=" fixed-size w-90 h-auto rounded-lg">
    </div>
    
</section>
<style>
   section {
    background: linear-gradient(135deg, #183b58, #204d74);
    /* background-image: url('../public/removebg.png'), url('../public/removebg.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top right , bottom left; */
    z-index: 10;
}

    h2{
        font-size:60px
    } 
    .fixed-size {
        width: 300px; 
        height: 150px; 
    }
    

    @media (max-width: 1446px) {
        .clients-logos {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 40px; 

        }
    }

    @media (max-width: 800px) {
        .clients-logos {
            flex-direction: column; 
            align-items: center;
            grid-gap: 40px; 


        }}
   
</style>
