---

---
<section class="history-section flex flex-col lg:flex-row w-screen items-center justify-center gap-x-12 px-40 pb-20 ">
    <img src="jordi.png" alt="CEO" class=" esquema w-90 h-auto z-20 rounded-full">
    <div class='historia flex flex-col items-center  justify-center'>
        <p  class='z-10'>¡Hola! Soy Jordi. Después de más de 15 años solucionando problemas de los equipos de 
          Finanzas con tecnología en distintos tamaños y sectores, me lanzo a la aventura de 
          crear <strong>M.IA; una revolución para Finanzas</strong>. M.IA es un asistente que te permitirá centrarte en lo importante: 
          ayudar al negocio. Del resto se ocupa M.IA. nada de Excel, conciliaciones, cuadres o checklists. 
          M.IA será tu asistente y te dará la información que necesites.</p>
        <div class=' w-full flex items-center justify-center mt-6'>
        
        </div>
    </div>
    
</section>
<style>
  .esquema {
    width: 90%;
    max-width: 200px;
    min-width: 200px; 
}
    section{
        margin-top:-100px;
        background-color:#fff;
    }
    p{
        color:#4A4A4A;
        font-size:26px
    }
    .historia{
        width:70%
    }
   
    @media(max-width:1010px){
        .historia{
            width:100vw;
            padding-left:40px;
            padding-right:40px;  
            margin-top:40px
        }
    }

    @media(max-width:813px){
      section{
        margin-top:-90px;
        background-color:#fff;
        width:100%;

    }
  
    }
    @media(max-width:405px){
   p{
        font-size:20px
      }
  
    }
    @media (max-width:1574px){
      section{
        margin-top:40px
      }

    }

   

    
    
 
    
</style>


  
