---

---
    <section class='text-black pt-10' >
      <header class='w-full'>
            <h2 class='font-bold  text-center'>¿Te planteas habitualmente estas questiones?<h2>
        </header>
        <ul class="faq-list pt-20 ">
                <li>
                    <span class="question">Sistemas fragmentados y falta de comunicación</span>
                    <span class="answer">“Nuestros datos están dispersos en diferentes sistemas y plataformas. Tener una visión integral es casi imposible”</span>
                </li>
                <li>
                    <span class="question">Tareas manuales y repetitivas</span>
                    <span class="answer">“Pasamos horas en tareas tediosas, dejando poco tiempo para estrategias de crecimiento”</span>
                </li>
                <li>
                    <span class="question">Falta de previsiones claras</span>
                    <span class="answer">“Sin datos precisos y actualizados, planificar el futuro se convierte en un juego de adivinanzas”</span>
                </li>
                <li>
                    <span class="question">Control de costes insuficientes</span>
                    <span class="answer">“Encontrar y eliminar gastos innecesarios es como buscar una aguja en un pajar”</span>
                </li>
                <li>
                    <span class="question">Falta de transparencia en el rendimiento financiero</span>
                    <span class="answer">“Los informes financieros son confusos y difíciles de interpretar”</span>
                </li>
        </ul>
        <hr class="separator">

        <div class='textandfoto my-16 w-full px-15 flex items-center justify-around mt-56 gap-x-12'>
            <p class='parrafo mt-12  ml-16 '>Gestionar las finanzas de tu cadena de restaurantes no debería ser una tarea titánica. 
                En M.IA, entendemos los desafíos únicos que enfrentas. Por eso, hemos creado un asistente financiero
                 virtual que transforma la manera en que gestionas tus finanzas
                , permitiéndote centrarte en lo que realmente importa:
                <strong class=''> hacer crecer tu negocio y deleitar a tus clientes.</strong>
            </p>
            <div class='fotoContainer flex items-center justify-center w-2/4'>
                <img src="./public/fotoRestaurante.jpg" alt="" class=" fixed-size w-3/4 h-96 rounded-3xl">
            </div>


        </div>

    </section>
<style>
  
   
    h2{
        font-size:60px;
        line-height:1;
    }
     section{
        width:100vw;
        background-color:#ffff;;
        height:auto;
        display:flex;
        flex-direction:column;
        justify-content:start;
        align-items:center;
        background-image: url('../public/bg3.png');
        background-position:  left; 
        background-size:contain;
        background-repeat:no-repeat;
        z-index:20;
       
    }
    .parrafo{
        width:50%;
        color:#4A4A4A;
        font-size:26px
    }
    .faq-list {
        list-style-type: none;
        margin: 0;
       

    }
    .faq-list li {
        margin-bottom: 20px;
    }
    .question {
        font-weight: bold;
        font-size: 32px;
        text-align:center
    }
    .answer {
        font-size: 26px;
        color: #333;
        text-align:center

    }

    li{
        display:flex;
        flex-direction:column;
     
    }

    @media(max-width:1389px){
        section{
        flex-direction:column;
        justify-content:start;
        align-items:start;
        height:auto;
        padding-left:20px;
        background-image:none;

    }
    .separator {
    width: 100%;
    border: 0;
    height: 1px;
    background: #204D74;
    margin: 40px 0;
  }
  

    ul{
        width:100%;
        padding-top:40px;
        padding-right:20px;
        padding-left:20px

    }
    .textandfoto{
        width:100%;
        flex-direction:column;
        align-items:center;
        justify-content:start;
        margin-top:5px

    }
    .fotoContainer{
        width:500px;
        padding-top:0px;
        margin-top:50px
    }
    .parrafo{
        width:90%;
        padding:0px;
        font-size:26px;
        margin-left:0px
    }

}
    aside{
        padding-left:20px;
        padding-right:20px;

    }

    @media(max-width:860px){
       }
    
    
</style>
